*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    max-width: 1346px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
.btn{
    padding: 10px 28px;
    border-radius: 20px 0 20px 0;
    border: none;
    color: white;
    background: #37806B;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}


.navbar{
    display: flex;
    height: 115px;
    align-items: center;
    justify-content: space-between;
}
.navbar__logo{cursor: pointer;}
.navbar__collection{
    display: flex;
    align-items: center;
    gap: 26px;
    list-style: none;
}
.navbar__link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.navbar__link button{
    padding: 5px 19px;
    border-radius: 15px 0 15px 0;
    border: none;
    background: #CAA892;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.hero__wrapper{
    display: flex;
    gap: 44px;
    align-items: center;
    margin-top: 60px;
}
.hero__text,
.hero_image{
    width: calc(50% - 22px);
}

.hero__brand{
    color:  #646464;
    font-size: 20px;
    font-weight: 600;
}
.hero__title{
    color: #212121;
    font-size: 72px;
    font-weight: 600;
    margin-top: 12px;
}
.hero__desc{
    font-size: 18px;
    color: #646464;
    font-weight: 400;
    margin-top: 23px;
    margin-bottom: 34px;
}

.hero_image img{
    width: 100%;
}

.service{
    margin-top: 126px;
}
.sevice__subtitle{
    color: #646464;
    font-size: 20px;
    font-weight: 600;
}
.service__title{
    font-size: 48px;
    color: #212121;
    font-weight: 500;
}
.service__wrapper{
    margin-top: 50px;
    display: flex;
    gap: 37px;
}
.service__item{
    width: calc(33.33% - 24.66px);
    padding: 35px 21px;
    border-radius: 60px 0 60px 0;
    box-shadow: 0px 8px 20px 0px #00000024;
    cursor: pointer;

}
.service__item:hover{
    background: #CAA892;
    color: white;
}
.about__wrapper{
    margin-top: 236px;
    display: flex;
    align-items: center;
    gap: 132px;
}
.about__image, .about__text{
    width: calc(50% - 66px);
}
.about__image img{
    width: 100%;
}
.about__brand{
    color: #646464;
    font-size: 20px;
    font-weight: 500;
}
.about__title{
    color: #212121;
    font-size: 38px;
    font-weight: 500;
    margin-top: 6px;
}
.about__desc{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    margin-top: 22px;
    margin-bottom: 34px;
}

.market__wrapper{
    margin-top: 224px;
    display: flex;
    gap: 154px;
    align-items: center;
}
.market__text, .market__image{
    width: calc(50% - 77px);
}
.market__image img{
    width: 100%;
}
.market__title{
    color: #212121;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 34px;
    margin-top: 20px;
}

.client{
    margin-top: 148px;
}
.client__brand{
    color: #646464;
    text-align: center;
    font-weight: 500;
}
.client__title{
    color: #212121;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.client__wrapper{
    display: flex;
    gap: 140px;
    align-items: center;
}
.client__item{
    width: calc(50% - 70px);
    height: 226px;
    display: flex;
    gap: 28px;
    align-items: center;
    box-shadow: 7px 7px 30px 5px #42605426;
    border-radius: 70px 0 70px 0;
    margin-top: 90px;
}
.client__item img{
    margin-left: -60px;
}
.client__name{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}
.client__name span{
    font-size: 16px;
    font-weight: 400;
    color: #646464;
    margin-bottom: 8px;
}
.client__desc{
    font-size: 18px;
    font-weight: 400;
    color: #646464;
}
.blog{
    background: #F8F8F8;
    margin-top: 82px;
}
.blog__brand{
    color: #646464;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 21px;
    padding-top: 93px;
}
.blog__title{
    color: #111111;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}
.blog__wrapper{
    display: flex;
    gap: 136px;
    margin-top: 83px;
}
.blog__item{
    width: calc(50% - 68px);
    margin-bottom: 122.57px;
}
.blog__item img{
    width: 80%;
    margin-bottom: 59.72px;
}
.blog__text{
    color: #212121;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 17px;
}
.blog__desc{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}
.signup{
    margin-bottom: 192px;
}
.signup__title{
    margin-top: 100px;
    color: #212121;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}
.signup__line{
    width: 461px;
    margin: 0 auto;
    color: #C4C4C4;
    margin-top: 37px;
    margin-bottom: 40px;
}
.signup__desc{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.signup__form{
    display: flex;
    justify-content: center;
}
.signup__input{
    background-color: #EEEEEE;
    border: none;
    width: 592px;
    height: 50px;
    border-radius: 20px 0 0 0;
    color: #646464;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    outline: none;
}
.signup__button{
    background: #37806B;
    color: white;
    border: none;
    border-radius: 0 0 20px 0;
    width: 180px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#footer{
    background: #F8F8F8;
    margin-top: 80px;
    padding-top: 80px;
}
.footer__title{
    color: #212121;
    font-size: 24px;
    font-weight: 600;
}

.footer__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 80px;
}
.footer__logo p{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    width: 350px;
}
.footer__links{
    width: 182px;
}
.footer__company{
    width: 144px;
}
.footer__contact{
    width: 200px;
}
.footer__collection{
    list-style: none;
    margin-top: 20px;
}
.footer__item{
    margin: 10px 0;
}
.footer__link{
    text-decoration: none;
    color: #646464;
    font-size: 18px;
    font-weight: 400;
}
.footer__title{
    margin-bottom: 20px;
}
.contact__item{
    color: #646464;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}
.footer__icons{
    margin-top: 20px;
    display: flex;
    gap: 8px;
}
.footer__icons a{
    background: #D5D5D5;
    width: 37.17px;
    height: 37.17px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer__icons a:hover{
    color: #fff;
    background: #37806B;
}
.footer__line{
    color: #C4C4C4;
}
.footer__end{
    text-align: center;
    color: #646464;
    font-size: 18px;font-weight: 400;
    margin-top: 15px;
    padding-bottom: 22px;
}